@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,10,50,1) 19%, rgba(61,30,139,1) 89%, rgba(70,59,105,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,10,50,1) 19%, rgba(61,30,139,1) 89%, rgba(70,59,105,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,10,50,1) 19%, rgba(61,30,139,1) 89%, rgba(70,59,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#463b69",GradientType=1);
}
table tbody tr:hover td{
    background-color: #ba68c8;
    cursor: pointer;}
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    
    background: #fafafa;
    text-align: center;

}
th,td{
    padding: 12px 15px;
}
th{
    background-color:#ba68c8 ;
    color: #fafafa;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
} 

td{

    font-family:"Open Sans", sans-serif ;
}

tr:nth-child(odd){
    background: #e1bee7 ;
}